.search-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:50px;
    color:darkgrey;
}

.button-row{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:10px;
}
.search-bar{
 border-radius:23px;
 height:50px;
 width:500px;
}

.search-bar-extension{
 border-radius:10px;
 height:50px;
 cursor:pointer;
}
.links{
    display:flex;
    justify-content: right;
    padding:15px;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}

.png{
    display:flex;
    justify-content:center;
    margin-top:200px;
}

.advanced-containers{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:20px;
}

.advanced-bars{
    margin-top:15px;
    height:35px;
    width:200px;
}

.blue-button{
    border-radius:10px;
    height:50px;
    cursor:pointer;
    background-color:rgb(162, 188, 237);
    color:white;
    border:none;
}
